---
import { getCollection } from 'astro:content';
import Layout from '../layout/page.astro';
const blogPosts = await getCollection('blog');
---

<Layout>
	<section class="blog-entries">
		{
			blogPosts.map(
				(post: {
					slug: any;
					data: {
						description: unknown;
						title: unknown;
						date: {
							toISOString: () => string | null | undefined;
							toDateString: () => unknown;
						};
					};
				}) => {
					return (
						<div class="post">
							<h2>
								<a href={`blog/${post.slug}`}>{post.data.title}</a>
							</h2>
							<time datetime={post.data.date.toISOString()}>
								{post.data.date.toDateString()}
							</time>
							<p>{post.data.description}</p>
						</div>
					);
				}
			)
		}
	</section>
</Layout>
